@import "~/assets/styles/colors";
@import "~/assets/styles/mixins";

.link {
  color: $color-header-logo;
  margin: auto 12px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;

  @include transition(.3s);

  &:hover {
    color: $color-header-text;
  }

  &.disabled {
    color: $color-fg-subtle;
    cursor: default;
  }
}